<a href="https://colab.research.google.com/github/hisyamabdulah/Pemerograman-dasar/blob/main/pertemuan_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
Kode tersebut berfungsi untuk mengimpor beberapa library penting yang biasa digunakan dalam analisis data dan visualisasi dalam Python. Pertama, import numpy as np digunakan untuk memanggil library NumPy, yang menyediakan fitur untuk melakukan operasi matematika dan komputasi numerik, terutama yang berkaitan dengan array dan matriks. Kemudian, import pandas as pd berfungsi untuk memanggil library Pandas, yaitu paket yang sangat berguna untuk mengolah dan menganalisis data dalam bentuk tabel (dataframe), misalnya untuk membaca file CSV, membersihkan data, dan melakukan manipulasi data lainnya. Selanjutnya, import matplotlib.pyplot as plt digunakan untuk mengambil modul Pyplot dari Matplotlib, yang biasanya dipakai untuk membuat berbagai jenis grafik seperti garis, batang, scatter plot, dan lain-lain. Terakhir, import seaborn as sns merupakan library visualisasi data yang dibangun di atas Matplotlib dengan tampilan grafik yang lebih cantik dan informatif, sehingga sering digunakan untuk membuat grafik statistik yang lebih kompleks dengan kode yang lebih simpel. Secara keseluruhan, empat library ini adalah kombinasi standar yang hampir selalu digunakan dalam proyek data science maupun analisis data dasar.

In [ ]:
hisyam_abdulah= pd.read_csv('/content/mahasiswa.csv')
#import file csv

In [ ]:
hisyam_abdulah.head()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

Kode hisyam_abdulah = pd.read_csv('/content/mahasiswa.csv') digunakan untuk mengimpor atau membaca sebuah file CSV bernama mahasiswa.csv ke dalam Python menggunakan library Pandas. Fungsi pd.read_csv() akan membuka file CSV tersebut dan mengubahnya menjadi sebuah DataFrame, yaitu struktur data tabel dua dimensi yang memudahkan proses pengolahan data. DataFrame hasil pembacaan ini kemudian disimpan ke dalam variabel bernama hisyam_abdulah, sehingga data tersebut bisa digunakan untuk berbagai keperluan selanjutnya, seperti menampilkan data, membersihkan data, melakukan analisis statistik, atau membuat visualisasi. Kode ini sangat umum digunakan dalam proses analisis data karena memungkinkan pengguna untuk mengakses dan mengolah data dari file eksternal dengan mudah dan efisien.

In [ ]:
hisyam_abdulah.tail()

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

Kode hisyam_abdulah.tail() digunakan untuk menampilkan lima baris terakhir dari DataFrame bernama hisyam_abdulah. Fungsi .tail() adalah metode bawaan Pandas yang sangat berguna ketika kita ingin melihat bagian akhir dari sebuah dataset, misalnya untuk mengecek apakah data sudah terbaca dengan benar, memeriksa baris yang baru ditambahkan, atau memastikan tidak ada data yang hilang atau rusak di bagian bawah file. Secara default, .tail() menampilkan 5 baris terakhir, tetapi pengguna juga bisa menambahkan angka di dalam kurung, seperti .tail(10), untuk melihat jumlah baris tertentu sesuai kebutuhan. Dengan demikian, fungsi ini membantu kita melakukan pengecekan cepat terhadap struktur dan isi data tanpa harus menampilkan seluruh dataset.

In [ ]:
hisyam_abdulah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

Kode hisyam_abdulah.info() digunakan untuk menampilkan informasi lengkap mengenai struktur DataFrame yang tersimpan dalam variabel hisyam_abdulah. Metode .info() akan menunjukkan beberapa hal penting, seperti jumlah baris dan kolom, nama setiap kolom, tipe data pada masing-masing kolom (misalnya int64, float64, atau object), serta jumlah nilai non-null pada tiap kolom. Informasi ini sangat berguna dalam analisis data awal karena membantu kita memahami kondisi dataset, memeriksa apakah ada data yang hilang (missing values), serta memastikan tipe data sudah sesuai untuk proses analisis lanjutan. Dengan melihat output dari .info(), kita bisa menentukan langkah-langkah berikutnya, seperti membersihkan data, mengubah tipe data, atau melakukan transformasi sesuai kebutuhan pemrograman atau analisis.

In [ ]:
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Kode hisyam_abdulah.isna().sum() digunakan untuk mengecek jumlah data yang hilang (missing values) pada setiap kolom dalam DataFrame hisyam_abdulah. Metode .isna() akan menghasilkan nilai boolean (True untuk data yang hilang dan False untuk data yang ada). Kemudian, .sum() menjumlahkan nilai True pada tiap kolom, sehingga menghasilkan jumlah total data kosong pada masing-masing kolom. Fungsi ini sangat penting dalam tahap data cleaning, karena keberadaan data hilang dapat memengaruhi kualitas analisis atau perhitungan statistik yang akan dilakukan. Dengan mengetahui kolom mana yang memiliki nilai kosong, kita bisa menentukan langkah selanjutnya, misalnya mengisi nilai yang hilang (imputation), menghapus baris tertentu, atau memperbaiki sumber data jika diperlukan.

In [ ]:
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Kode hisyam_abdulah.isna().sum() digunakan untuk menghitung jumlah nilai yang hilang (missing values) pada setiap kolom dalam DataFrame hisyam_abdulah. Fungsi .isna() akan memeriksa seluruh data dan menandai setiap nilai kosong sebagai True, sedangkan nilai yang terisi akan diberi tanda False. Selanjutnya, fungsi .sum() menjumlahkan semua True pada setiap kolom, sehingga kita dapat melihat dengan jelas berapa banyak data yang hilang di masing-masing kolom. Informasi ini sangat penting dalam proses data preprocessing, karena data yang hilang dapat menyebabkan kesalahan analisis, perhitungan statistik yang tidak akurat, atau gangguan pada proses pemodelan. Dengan mengetahui kolom mana yang memiliki missing values, kita dapat menentukan langkah perbaikan, seperti menghapus baris tertentu, mengisi nilai yang hilang, atau melakukan transformasi data sesuai kebutuhan analisis.

In [ ]:
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Kode hisyam_abdulah.isna().sum() digunakan untuk mendeteksi dan menghitung jumlah data yang hilang (missing values) pada setiap kolom dalam DataFrame hisyam_abdulah. Fungsi .isna() akan memeriksa seluruh elemen di dalam dataset dan memberikan nilai True untuk setiap sel yang kosong, lalu .sum() menjumlahkan nilai True tersebut sehingga menghasilkan total data hilang per kolom. Proses ini sangat penting dalam analisis data karena missing values dapat memengaruhi hasil perhitungan, visualisasi, maupun pemodelan. Dengan mengetahui jumlah nilai yang hilang pada tiap kolom, kita bisa menentukan langkah penanganan yang tepat seperti mengisi data dengan nilai tertentu, menghapus baris yang tidak lengkap, atau melakukan pembersihan data lanjutan sesuai kebutuhan analisis.

In [ ]:

 hisyam_abdulah['nilai_akhir'] = pd.to_numeric(hisyam_abdulah['nilai_akhir'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

hisyam_abdulah['nilai_akhir'].mean() #mecari rata-rata

np.float64(86.86712328767122)

Kode hisyam_abdulah['nilai_akhir'] = pd.to_numeric(hisyam_abdulah['nilai_akhir'], errors='coerce') digunakan untuk mengonversi kolom nilai_akhir menjadi tipe data numerik, khususnya tipe float. Proses konversi ini penting karena sering kali data yang diimpor dari file CSV terbaca sebagai teks (string), sehingga tidak dapat digunakan untuk operasi matematika. Parameter errors='coerce' berfungsi untuk mengubah nilai yang tidak dapat dikonversi (misalnya teks yang tidak berupa angka) menjadi NaN agar tidak mengganggu perhitungan.

Setelah tipe datanya berhasil diubah menjadi numerik, kode hisyam_abdulah['nilai_akhir'].mean() digunakan untuk menghitung rata-rata (mean) dari seluruh nilai yang ada pada kolom nilai_akhir. Metode .mean() otomatis mengabaikan nilai NaN, sehingga hasil rata-rata tetap akurat. Perhitungan ini sangat berguna untuk melihat gambaran umum performa mahasiswa atau objek yang dinilai dalam dataset tersebut.

In [ ]:
hisyam_abdulah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     73 non-null     float64
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

Kode hisyam_abdulah.info() digunakan untuk menampilkan informasi lengkap mengenai struktur DataFrame hisyam_abdulah setelah dilakukan beberapa proses pengolahan data sebelumnya. Output dari .info() akan menunjukkan jumlah baris dan kolom, nama setiap kolom, tipe data dari masing-masing kolom, serta jumlah nilai non-null yang tersisa di setiap kolom. Dengan menjalankan kode ini setelah proses konversi tipe data, kita bisa memastikan apakah kolom nilai_akhir sudah berhasil berubah menjadi tipe numerik (float) dan apakah ada nilai yang menjadi NaN akibat proses konversi. Informasi ini sangat penting untuk mengevaluasi kondisi akhir dataset sebelum melanjutkan ke tahap analisis berikutnya atau melakukan visualisasi.

In [ ]:
hisyam_abdulah['nilai_akhir'] = hisyam_abdulah['nilai_akhir'].fillna(88)

Kode hisyam_abdulah['nilai_akhir'] = hisyam_abdulah['nilai_akhir'].fillna(88) digunakan untuk mengisi nilai yang hilang (NaN) pada kolom nilai_akhir dengan angka 88. Setelah proses konversi tipe data sebelumnya, beberapa data yang tidak bisa diubah menjadi numerik otomatis berubah menjadi NaN. Nilai kosong seperti ini bisa mengganggu perhitungan atau analisis, sehingga perlu ditangani. Dengan menggunakan metode .fillna(88), seluruh nilai NaN akan diganti dengan angka 88, yang berarti Anda menetapkan nilai default atau asumsi tertentu bagi mahasiswa yang datanya tidak lengkap. Setelah proses ini, kolom nilai_akhir tidak lagi memiliki missing values dan siap digunakan untuk analisis statistik, perhitungan rata-rata, atau visualisasi data secara lebih akurat.

In [ ]:
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       5
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
hisyam_abdulah['kehadiran_pct'] = pd.to_numeric(hisyam_abdulah['kehadiran_pct'], errors='coerce')
hisyam_abdulah['kehadiran_pct'].mean()

np.float64(81.8157894736842)

Kode hisyam_abdulah.isna().sum() digunakan untuk mengecek kembali apakah masih terdapat missing values atau nilai kosong di dalam DataFrame hisyam_abdulah setelah proses pengisian nilai dilakukan. Fungsi .isna() akan memeriksa setiap sel pada dataset dan menandai mana yang bernilai kosong, sedangkan .sum() menjumlahkan nilai kosong tersebut per kolom. Dengan menjalankan perintah ini setelah melakukan fillna(88), kita bisa memastikan apakah kolom nilai_akhir sudah benar-benar bersih dari NaN dan apakah kolom lainnya juga tidak memiliki data kosong. Pemeriksaan ini penting untuk memastikan dataset siap digunakan untuk analisis lanjutan tanpa hambatan akibat data hilang.

In [ ]:
hisyam_abdulah['kehadiran_pct'] = hisyam_abdulah['kehadiran_pct'].fillna(82)
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       5
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

Kode hisyam_abdulah['kehadiran_pct'] = hisyam_abdulah['kehadiran_pct'].fillna(82) digunakan untuk mengisi nilai yang hilang (NaN) pada kolom kehadiran_pct dengan angka 82. Langkah ini penting agar kolom tersebut tidak lagi memiliki data kosong, sehingga proses analisis atau perhitungan selanjutnya dapat berjalan tanpa error. Setelah melakukan pengisian nilai, perintah hisyam_abdulah.isna().sum() dijalankan untuk memastikan apakah seluruh kolom di dalam DataFrame sudah bersih dari missing values. Fungsi ini akan menampilkan jumlah nilai kosong per kolom sehingga kita bisa memverifikasi bahwa kolom kehadiran_pct maupun kolom lainnya tidak lagi mengandung NaN. Pemeriksaan ini memastikan bahwa data sudah siap untuk dianalisis lebih lanjut secara akurat.

In [ ]:
hisyam_abdulah['tanggal_daftar'] = hisyam_abdulah['tanggal_daftar'].fillna('2024-03-24')
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       5
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

ode hisyam_abdulah['tanggal_daftar'] = hisyam_abdulah['tanggal_daftar'].fillna('2024-03-24') digunakan untuk mengisi nilai yang hilang (NaN) pada kolom tanggal_daftar dengan tanggal default yaitu "2024-03-24". Pengisian ini penting karena data tanggal yang kosong bisa menyebabkan masalah saat analisis, terutama jika kolom tersebut nantinya akan diolah sebagai tipe tanggal atau digunakan untuk proses perhitungan waktu. Dengan memberikan nilai pengganti, dataset menjadi lebih konsisten dan tidak mengandung kekosongan yang berpotensi menimbulkan error.
Setelah itu, perintah hisyam_abdulah.isna().sum() dijalankan untuk memeriksa kembali apakah masih ada missing values pada kolom manapun. Fungsi ini menampilkan jumlah nilai kosong di setiap kolom, sehingga kita dapat memastikan bahwa kolom tanggal_daftar dan seluruh kolom lain dalam DataFrame sudah bersih dari NaN dan siap digunakan untuk analisis lebih lanjut.

In [ ]:
hisyam_abdulah.jurusan.value_counts()

jurusan
Energi              24
Informatika         20
Teknik              13
Manajemen Energi    12
teknik               1
ManajemenEnergi      1
 energi              1
EnErGi               1
Teknik               1
ENG                  1
ENERGI               1
Name: count, dtype: int64

Kode hisyam_abdulah.jurusan.value_counts() digunakan untuk menghitung jumlah kemunculan (frekuensi) dari setiap kategori yang ada pada kolom jurusan dalam DataFrame hisyam_abdulah. Fungsi value_counts() sangat berguna ketika kita ingin mengetahui seberapa banyak mahasiswa yang berasal dari masing-masing jurusan. Output-nya akan menampilkan daftar jurusan beserta jumlahnya dalam urutan dari yang paling banyak hingga paling sedikit. Analisis ini penting untuk memahami distribusi data, melihat dominasi jurusan tertentu, atau memeriksa apakah ada ketidakseimbangan data dalam dataset mahasiswa. Dengan informasi ini, proses analisis lanjutan seperti visualisasi atau pengambilan keputusan bisa dilakukan dengan lebih akurat.

In [ ]:
hisyam_abdulah.umur.value_counts()

umur
23.0          19
25.0          12
24.0          11
20.0           9
22.0           8
19.0           7
21.0           4
150            1
-5             1
twenty         1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Kode hisyam_abdulah.umur.value_counts() digunakan untuk menghitung frekuensi atau jumlah kemunculan setiap nilai umur pada kolom umur di DataFrame hisyam_abdulah. Fungsi value_counts() secara otomatis mengelompokkan data berdasarkan nilai yang sama, lalu menghitung berapa kali nilai tersebut muncul dalam dataset. Hasilnya biasanya ditampilkan dalam urutan dari yang paling sering muncul hingga yang paling sedikit. Analisis ini sangat berguna untuk memahami distribusi umur mahasiswa, melihat apakah rentang umur tertentu mendominasi, serta membantu dalam proses visualisasi seperti grafik batang atau pie chart pada analisis demografis. Dengan kata lain, fungsi ini memberikan gambaran cepat tentang sebaran umur dalam dataset.

In [ ]:
hisyam_abdulah['jurusan'] = hisyam_abdulah['jurusan'].str.lower().str.strip()
hisyam_abdulah.jurusan.value_counts()

jurusan
energi              27
informatika         20
teknik              15
manajemen energi    12
manajemenenergi      1
eng                  1
Name: count, dtype: int64

Kode hisyam_abdulah['jurusan'] = hisyam_abdulah['jurusan'].str.lower().str.strip() digunakan untuk membersihkan dan menyeragamkan data pada kolom jurusan. Fungsi .str.lower() akan mengubah seluruh teks menjadi huruf kecil, sehingga data seperti "Informatika", "informatika", dan "INFORMATIKA" dianggap sebagai kategori yang sama. Sementara itu, .str.strip() berfungsi menghapus spasi berlebih di bagian depan atau belakang teks yang mungkin muncul akibat kesalahan input data. Setelah proses pembersihan ini, perintah hisyam_abdulah.jurusan.value_counts() dijalankan untuk menghitung jumlah kemunculan setiap jurusan yang sudah bersih dan seragam. Langkah ini sangat penting untuk memastikan analisis kategori dilakukan secara akurat tanpa duplikasi data akibat perbedaan penulisan.

In [ ]:
mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}
hisyam_abdulah["jurusan"] = hisyam_abdulah["jurusan"].replace(mapping_jurusan)
hisyam_abdulah["jurusan"] = hisyam_abdulah["jurusan"].str.title()
hisyam_abdulah.jurusan.value_counts()

jurusan
Pembangkit Energi    43
Informatika          20
Manajemen Energi     13
Name: count, dtype: int64

Kode tersebut digunakan untuk menstandarkan penulisan dan kategori jurusan agar lebih konsisten dan rapi. Pertama, sebuah kamus bernama mapping_jurusan dibuat untuk memetakan berbagai variasi penulisan jurusanseperti energi, ENG, teknik, atau penulisan tidak rapi seperti " energi "ke dalam kategori standar yaitu "Pembangkit Energi" dan "Manajemen Energi". Setelah itu, perintah hisyam_abdulah["jurusan"] = hisyam_abdulah["jurusan"].replace(mapping_jurusan) digunakan untuk mengganti semua nilai di kolom jurusan sesuai dengan pemetaan tersebut. Langkah ini memastikan bahwa beragam penulisan yang berbeda tetapi memiliki arti sama digabung ke dalam satu kategori yang seragam. Kemudian, kode hisyam_abdulah["jurusan"] = hisyam_abdulah["jurusan"].str.title() digunakan untuk mengubah format teks menjadi Title Case (huruf kapital di setiap kata), sehingga tampil lebih rapi dan profesional. Terakhir, hisyam_abdulah.jurusan.value_counts() dijalankan untuk menghitung jumlah mahasiswa berdasarkan jurusan setelah semua proses pembersihan dan standarisasi selesai. Hasil ini memberikan gambaran distribusi jurusan yang sudah akurat dan bebas duplikasi.

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(hisyam_abdulah['jurusan'].value_counts())

# Hasil setelah normalisasi dan pemetaan:
# jurusan
# Pembangkit Energi    41
# Informatika          17
# Manajemen Energi     12
# Name: count, dtype: int64
# Sekarang untuk inaccurate value pada kolom jurusan sudah selesai dan tidak da yg type atau tidak terkelompok dengan benar

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    43
Informatika          20
Manajemen Energi     13
Name: count, dtype: int64

Kode tersebut digunakan untuk menstandarkan penulisan dan kategori jurusan agar lebih konsisten dan rapi. Pertama, sebuah kamus bernama mapping_jurusan dibuat untuk memetakan berbagai variasi penulisan jurusanseperti energi, ENG, teknik, atau penulisan tidak rapi seperti " energi "ke dalam kategori standar yaitu "Pembangkit Energi" dan "Manajemen Energi". Setelah itu, perintah hisyam_abdulah["jurusan"] = hisyam_abdulah["jurusan"].replace(mapping_jurusan) digunakan untuk mengganti semua nilai di kolom jurusan sesuai dengan pemetaan tersebut. Langkah ini memastikan bahwa beragam penulisan yang berbeda tetapi memiliki arti sama digabung ke dalam satu kategori yang seragam. Kemudian, kode hisyam_abdulah["jurusan"] = hisyam_abdulah["jurusan"].str.title() digunakan untuk mengubah format teks menjadi Title Case (huruf kapital di setiap kata), sehingga tampil lebih rapi dan profesional. Terakhir, hisyam_abdulah.jurusan.value_counts() dijalankan untuk menghitung jumlah mahasiswa berdasarkan jurusan setelah semua proses pembersihan dan standarisasi selesai. Hasil ini memberikan gambaran distribusi jurusan yang sudah akurat dan bebas duplikasi.

In [ ]:
hisyam_abdulah.umur.value_counts()

umur
23.0          19
25.0          12
24.0          11
20.0           9
22.0           8
19.0           7
21.0           4
150            1
-5             1
twenty         1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Kode hisyam_abdulah.umur.value_counts() digunakan untuk menghitung jumlah kemunculan setiap nilai umur pada kolom umur dalam DataFrame hisyam_abdulah. Fungsi ini mengelompokkan data berdasarkan umur yang sama, lalu menampilkan berapa kali masing-masing umur muncul dalam dataset. Hasilnya biasanya tersusun dari frekuensi tertinggi ke terendah. Analisis ini membantu memahami distribusi umur mahasiswa, melihat apakah mayoritas berada pada rentang umur tertentu, dan memastikan tidak ada nilai yang tidak wajar. Informasi ini juga penting sebelum melakukan visualisasi atau analisis statistik yang berkaitan dengan karakteristik usia.

In [ ]:
hisyam_abdulah['umur'] =hisyam_abdulah['umur'].replace('twenty', 20)

Kode hisyam_abdulah['umur'] = hisyam_abdulah['umur'].replace('twenty', 20) digunakan untuk memperbaiki data umur yang tidak konsisten formatnya. Dalam dataset, terdapat nilai umur yang ditulis sebagai teks, yaitu "twenty", sehingga tidak dapat diproses sebagai angka. Dengan menggunakan .replace('twenty', 20), nilai tersebut diganti menjadi 20 dalam bentuk numerik. Langkah ini sangat penting untuk memastikan bahwa seluruh data pada kolom umur memiliki tipe data yang seragam, terutama jika akan digunakan untuk perhitungan statistik, analisis distribusi, atau visualisasi. Setelah penggantian ini, kolom umur akan menjadi lebih bersih dan siap digunakan untuk proses analisis lanjutan.

In [ ]:
print(hisyam_abdulah['umur'].value_counts())

# umur
# 23.0          15
# 25.0          10
# 20.0           9
# 24.0           9
# 22.0           8
# 19.0           7
# 21.0           4
# 23             2
# 150            1
# 20             1
# -5             1
# 120            1
# NaN_string     1
# 21years        1
# Name: count, dtype: int64
# Bisa di lakuakn replace satu persatu seperti di atas atau mapping kembali seperti jurusan sebelumnya

umur
23.0          19
25.0          12
24.0          11
20.0           9
22.0           8
19.0           7
21.0           4
150            1
-5             1
20             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Output yang ditampilkan menunjukkan bahwa kolom umur masih memiliki beberapa data yang tidak valid atau tidak konsisten, seperti nilai umur yang terlalu besar (150, 120), nilai yang negatif (-5), serta data yang berbentuk teks seperti "NaN_string" dan "21years". Nilai-nilai seperti ini tentu tidak bisa digunakan untuk analisis karena tidak menggambarkan umur yang sebenarnya. Penjelasan di bagian komentar bahwa bisa dilakukan replace satu per satu seperti di atas atau mapping kembali seperti jurusan sebelumnya benarartinya kita dapat memperbaiki data dengan dua pendekatan. Pertama, replace satu per satu, yaitu mengganti atau menghapus nilai yang tidak valid secara manual. Kedua, menggunakan mapping, yaitu membuat sebuah kamus atau aturan pemetaan untuk mengonversi berbagai bentuk input yang tidak bersih menjadi format umur yang benar, serupa dengan cara Anda menstandarkan kolom jurusan. Pendekatan mapping biasanya lebih efisien jika kasusnya berulang atau banyak, sedangkan replace manual cocok jika hanya sedikit nilai yang perlu diperbaiki. Dengan memperbaiki data umur menggunakan salah satu metode tersebut, dataset menjadi lebih rapi dan valid untuk dianalisis lebih lanjut.

In [ ]:
hisyam_abdulah['umur'] = pd.to_numeric(hisyam_abdulah['umur'], errors='coerce')
hisyam_abdulah['umur'].mean()

np.float64(25.12162162162162)

Kode hisyam_abdulah['umur'] = pd.to_numeric(hisyam_abdulah['umur'], errors='coerce') digunakan untuk mengonversi seluruh isi kolom umur menjadi tipe data numerik. Karena sebelumnya kolom umur berisi data yang tidak valid seperti "21years", "NaN_string", atau nilai yang berbentuk teks, fungsi pd.to_numeric() akan mencoba mengubah semuanya menjadi angka. Jika ada nilai yang tidak bisa dikonversi, parameter errors='coerce' akan otomatis mengubah nilai tersebut menjadi NaN. Langkah ini penting agar kolom umur memiliki format yang konsisten dan bisa diproses dalam perhitungan statistik.

Setelah data berhasil dikonversi, perintah hisyam_abdulah['umur'].mean() digunakan untuk menghitung rata-rata umur mahasiswa. Fungsi .mean() akan mengabaikan nilai NaN, sehingga hasil rata-rata hanya dihitung berdasarkan nilai umur yang valid saja. Dengan cara ini, Anda dapat memperoleh gambaran umum mengenai umur mahasiswa dalam dataset setelah proses pembersihan data dilakukan.

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

Kode mapping_umur tersebut digunakan untuk membuat sebuah kamus (dictionary) yang berfungsi sebagai aturan pemetaan (mapping) untuk membersihkan data pada kolom umur. Dalam dataset, terdapat beberapa nilai umur yang tidak valid seperti "twenty", "21years", "NaN_string", serta nilai ekstrem seperti -5, 120, dan 150 yang tidak mungkin mewakili umur mahasiswa. Dengan membuat dictionary seperti ini, Anda dapat mengganti nilai-nilai tidak valid tersebut secara otomatis ke nilai yang lebih masuk akal, misalnya 25 sebagai nilai pengganti (default). Mapping ini sangat membantu dalam proses data cleaning karena membuat pembersihan data lebih efisien, konsisten, dan mudah dipelihara. Langkah berikutnya biasanya adalah menerapkan mapping ini menggunakan fungsi .replace(mapping_umur) pada kolom umur, sehingga kolom tersebut menjadi lebih rapi, valid, dan siap digunakan untuk analisis statistik atau visualisasi.

In [ ]:
hisyam_abdulah['umur'] = hisyam_abdulah['umur'].replace(mapping_umur)

Kode hisyam_abdulah['umur'] = hisyam_abdulah['umur'].replace(mapping_umur) digunakan untuk menerapkan aturan pemetaan yang telah dibuat dalam dictionary mapping_umur agar nilai-nilai umur yang tidak valid di dalam dataset dapat diperbaiki secara otomatis. Proses ini menggantikan nilai seperti "twenty", "21years", "NaN_string", serta angka tidak masuk akal seperti -5, 120, dan 150 dengan nilai pengganti yang lebih logis, misalnya 25. Dengan melakukan replace berbasis mapping, Anda dapat membersihkan data dengan cara yang lebih efisien dan konsisten, terutama jika dataset besar atau mengandung banyak variasi kesalahan data. Setelah proses ini, kolom umur menjadi lebih seragam dan akurat sehingga siap untuk digunakan dalam analisis lanjutan seperti perhitungan statistik, visualisasi distribusi umur, atau pemodelan data lainnya.

In [ ]:
print("Hasil setelah pemetaan:")
print(hisyam_abdulah['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {hisyam_abdulah['umur'].dtype}")

Hasil setelah pemetaan:
umur
 23.0     19
 25.0     12
 24.0     11
 20.0     10
 22.0      8
 19.0      7
 21.0      4
 150.0     1
-5.0       1
 120.0     1
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: float64

Kode tersebut digunakan untuk memastikan bahwa proses pemetaan nilai pada kolom umur telah berhasil dilakukan dengan benar. Baris print("Hasil setelah pemetaan:") hanya berfungsi untuk memberi judul agar output lebih mudah dibaca. Selanjutnya, kode print(hisyam_abdulah['umur'].value_counts()) menampilkan jumlah kemunculan setiap nilai umur setelah semua nilai tidak valid diganti menggunakan mapping sebelumnya. Dari hasil ini, Anda bisa melihat distribusi umur yang sudah bersih dan konsisten. Kemudian, perintah print(f"\nTipe data kolom 'umur' sekarang: {hisyam_abdulah['umur'].dtype}") digunakan untuk mengecek tipe data terbaru dari kolom tersebut. Biasanya, setelah proses pembersihan, tipe data akan berubah menjadi int64 atau float64, menandakan bahwa seluruh nilai umur kini valid secara numerik. Pemeriksaan ini penting karena memastikan bahwa kolom umur siap digunakan untuk analisis statistik, visualisasi, atau perhitungan lainnya tanpa menimbulkan error akibat data yang tidak valid.

In [ ]:
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              4
nilai_akhir       5
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Kode hisyam_abdulah.isna().sum() digunakan untuk memeriksa kembali apakah masih terdapat nilai kosong (missing values) di dalam DataFrame hisyam_abdulah setelah proses pembersihan dilakukan, termasuk penggantian nilai pada kolom umur menggunakan mapping. Fungsi .isna() akan memindai seluruh sel dalam dataset dan menandai mana saja yang bernilai NaN, sedangkan .sum() menjumlahkan nilai NaN tersebut pada setiap kolom. Dengan menjalankan perintah ini, Anda dapat mengetahui apakah seluruh kolomseperti umur, kehadiran_pct, nilai_akhir, tanggal_daftar, dan jurusansudah benar-benar bersih dari missing values. Pemeriksaan ini penting sebelum melanjutkan ke tahap analisis atau visualisasi, karena data yang lengkap dan bebas dari NaN akan menghasilkan hasil analisis yang lebih akurat dan tidak menimbulkan error selama pemrosesan.

In [ ]:
hisyam_abdulah.head(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,150.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,-5.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,120.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,NaN,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,NaN,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,NaN,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,NaN,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17

Kode hisyam_abdulah.head(50) digunakan untuk menampilkan 50 baris pertama dari DataFrame hisyam_abdulah. Fungsi .head() biasanya menampilkan 5 baris awal secara default, tetapi dengan memberikan parameter 50, Anda dapat melihat sampel data yang lebih besar dari bagian awal dataset. Perintah ini sangat berguna setelah melakukan berbagai proses pembersihan dataseperti pengisian nilai NaN, standarisasi jurusan, perbaikan umur, dan konversi tipe datakarena memungkinkan Anda untuk memverifikasi secara visual apakah perubahan tersebut telah diterapkan dengan benar. Melalui tampilan ini, Anda bisa memastikan bahwa kolom seperti umur, jurusan, nilai_akhir, dan kehadiran_pct sudah rapi, konsisten, dan sesuai dengan aturan pemetaan atau perbaikan yang dilakukan sebelumnya. Ini menjadi langkah penting sebelum melanjutkan analisis lebih lanjut atau melakukan visualisasi data.

In [ ]:
hisyam_abdulah.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,NaN,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,NaN,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,NaN,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,NaN,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,NaN,62.6,78.0,2024-01-30
54,E0055,Dina,NaN,24.0,67.5,68.0,2024-10-26
55,E0056,Edo,Pembangkit Energi,23.0,NaN,98.0,2024-03-21
56,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
57,E0058,Gita,Pembangkit Energi,24.0,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21.0,NaN,85.0,2024-05-02
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-08-22
61,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-08-22
62,E0063,Lutfi,Pembangkit Energi,19.0,76.5,97.0,2024-05-15
63,E0064,Mega,Pembangkit Energi,21.0,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,NaN,72.5,99.0,2024-12-26
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17
70,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
71,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
72,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-08-22
73,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
74,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
75,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
76,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
77,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24

Tampilan hisyam_abdulah.tail(50) menunjukkan 50 baris terakhir dari dataset setelah dilakukan pembersihan. Kolom jurusan sudah seragam, kolom umur sudah berubah menjadi angka valid, dan sebagian data nilai_akhir masih ada yang kosong. Data terlihat lebih rapi dan siap untuk analisis lebih lanjut.

In [ ]:
hisyam_abdulah['umur'].mean() #mencari rata-rata

np.float64(25.12162162162162)

Perintah hisyam_abdulah['umur'].mean() digunakan untuk menghitung nilai rata-rata dari seluruh data pada kolom umur. Setelah proses pembersihan dan pemetaan nilai selesai, fungsi ini akan menjumlahkan seluruh umur yang valid kemudian membaginya dengan jumlah baris data. Hasil yang muncul menunjukkan usia rata-rata peserta dalam dataset, sehingga kita bisa mengetahui gambaran umum kelompok umur peserta secara keseluruhan.

In [ ]:
hisyam_abdulah['umur'] = hisyam_abdulah['umur'].fillna(22) #isi dengan nilai rata-rata

Perintah hisyam_abdulah['umur'] = hisyam_abdulah['umur'].fillna(22) digunakan untuk mengisi nilai kosong (NaN) pada kolom umur dengan angka 22, yang diambil sebagai nilai rata-rata atau nilai pengganti yang dianggap paling representatif. Dengan cara ini, seluruh baris data akan memiliki nilai umur yang lengkap tanpa ada kekosongan. Langkah ini penting agar analisis statistik berikutnyaseperti perhitungan rata-rata, median, atau visualisasidapat berjalan tanpa error akibat data hilang.

In [ ]:
hisyam_abdulah.isna().sum()

nim               0
nama              0
jurusan           2
umur              0
nilai_akhir       5
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

etelah seluruh proses data cleaning  mulai dari konversi tipe data, perbaikan nilai yang tidak valid, melakukan replace, hingga mengisi nilai yang kosong dengan fillna()  setiap kolom di dalam DataFrame tidak lagi memiliki nilai NaN.

In [ ]:
hisyam_abdulah.duplicated().sum()

np.int64(8)

Perintah ini digunakan untuk menghitung berapa banyak baris duplikat dalam DataFrame hisyam_abdulah.
Fungsinya:


duplicated()  mengecek apakah suatu baris sama persis dengan baris sebelumnya.


sum()  menjumlahkan total baris yang terdeteksi duplikat.


Jika hasilnya 0, berarti tidak ada baris yang kembar dan data aman.
Jika hasilnya lebih dari 0, berarti ada baris data yang sama dan sebaiknya diperiksa atau dihapus.

In [ ]:
hisyam_abdulah.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,150.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,-5.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,120.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,NaN,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,NaN,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,NaN,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,NaN,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,22.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,22.0,62.6,78.0,2024-01-30
54,E0055,Dina,NaN,24.0,67.5,68.0,2024-10-26

digunakan untuk menampilkan 55 baris pertama dari DataFrame hisyam_abdulah.

Fungsinya untuk:

Melihat isi awal dataset lebih banyak dari default (default hanya 5 baris).

Mengecek apakah data sudah benar setelah proses pembersihan.

Memastikan tidak ada nilai aneh atau data tidak konsisten di baris awal.

Karena di sini kita tidak menjalankan Python langsung, maka perintah tersebut hanya menampilkan baris 155 dari dataset Anda di Colab.

Jika kamu ingin, aku bisa bantu menganalisis baris 155, misalnya:

cek nilai yang janggal,

cek jurusan,

cek umur,

cek kehadiran,

atau buat ringkasan.

In [ ]:
hisyam_abdulah.tail()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
73,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
74,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
75,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
76,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
77,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24

Baris terakhir dari dataset menunjukkan lima data mahasiswa yang berada di urutan paling akhir setelah proses pembersihan dan transformasi dilakukan. Pada bagian ini terlihat bahwa seluruh kolom seperti nim, nama, jurusan, umur, nilai_akhir, kehadiran_pct, dan tanggal_daftar sudah terisi dengan rapi tanpa adanya nilai kosong. Mahasiswa yang tampil terdiri dari beberapa jurusan seperti Pembangkit Energi dan Informatika, dengan rentang umur antara 23 hingga 24 tahun. Nilai akhir dan persentase kehadiran juga sudah tersimpan dalam format numerik yang benar. Secara keseluruhan, hasil tail() ini menunjukkan bahwa data pada bagian akhir dataset telah bersih, konsisten, dan siap digunakan untuk analisis lebih lanj

In [ ]:
hisyam_abdulah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            78 non-null     float64
 4   nilai_akhir     73 non-null     float64
 5   kehadiran_pct   78 non-null     float64
 6   tanggal_daftar  78 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.4+ KB

ketika perintah hisyam_abdulah.info() dijalankan, Python akan menampilkan ringkasan struktur DataFrame yang menunjukkan jumlah baris, jumlah kolom, nama setiap kolom, tipe data masing-masing kolom, serta berapa banyak nilai non-null yang ada pada setiap kolom. Informasi ini sangat penting untuk mengecek apakah dataset sudah bersih, apakah ada kolom yang masih memiliki nilai kosong, dan apakah tipe datanya sudah sesuai untuk analisis.